{% extends 'templates/about.twig' %}

{% block content %}
<div class="hero">
  <div class="hero-panel k-evolution">
    <div class="hero-heading">
      <h2>Our Evolution</h2>
      <h3>
        A Visual Look
        <br>
        Into DareToBeKind's Roots
      </h3>
    </div>
  </div>
</div>
<div class="tab-wrapper">
  <div class="tab-row row">
    <div class="tab-nav">
      <ul class="tabs tabs-fixed-width">
        <li class="tab col s3"><a href="#kindness" class="active">Our Evolution</a></li>
      </ul>
    </div>
    <div id="kindness" class="col s12">
      <section class="intro-text">
        <blockquote>
          Dare to be Kind a Global Movement’s website is a platform for sharing stories and ideas that reveal how each person can #BEtheDifference within their 2-mile radius.
        </blockquote>
      </section>
      <hr>
      <section id="decade2010" class="page decade decade2010" data-nav="The Beginning">
        <div class="container">
          <div class="inner row">
            <div class="col s12 m6">
              <img style="width:100%;" src="{{ base_url() }}/assets/img/PNG/helen_gabriella.png" alt="helen and gabriella">
            </div>
            <div class="fact bottom-right col s12 m6">
              <h3 style="line-height:1.1em;margin:0;letter-spacing:normal;">In the Beginning...</h3>
              <p>The seeds of what would become this movement originated from painful beginnings.</p>
            </div>
          </div><!--.inner-->
        </div>
      </section>
      <hr>
      <section id="decade2000" class="page decade decade2000" data-nav="Our Longing">
        <div class="container">
          <div class="inner row">
            <div class="col s12 m6">
              <img style="width:100%;" src="{{ base_url() }}/assets/img/JPG/Front.jpg" alt="With All My Might cover"/>
            </div>
            <div class="fact bottom-right col s12 m6">
              <h3>Our Longing for Belonging</h3>
              <p>Founder Gabriella van Rij’s life story is notable as one of the first cross-cultural adoptions during a time when such things were unheard of. Her struggles to find belonging, which she wrote about in her first book, <span style="font-style: italic;">With All My Might</span>, became character and purpose-defining.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section id="decade1990" class="page decade decade1990" data-nav="Best Ally">
        <div class="container">
          <div class="inner row">
            <div class="col s12 m6">
              <img style="width:100%;" src="{{ base_url() }}/assets/img/JPG/gabriella-van-rij-gallery_1.jpg" alt="G speaking"/>
            </div>
            <div class="fact bottom-right col s12 m6">
              <h3>You Are the Cause's Best Ally</h3>
              <p>Not wanting any child to grow up feeling unable to cope, she began speaking at school assemblies across the US and was invited on Dr. Phil as a subject-matter expert on anti-bullying measures, after which she appeared on countless news channels and print media. “A cause that you are passionate about hides your own adversity,” says van Rij. “From that pain grows your biggest strength, which in turn makes you the cause’s best ally.”</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section id="decade1980" class="page decade decade1980" data-nav="The Ball">
        <div class="container">
          <div class="inner row">
            <div class="col s12 m6">
              <img style="width:100%;" src="{{ base_url() }}/assets/img/PNG/ball-3D-front.png" alt="Ball of Kindness"/>
            </div>
            <div class="fact bottom-right col s12 m6">
              <h3>The Ball of Human Kindness</h3>
              <p>She articulated the ball of Human Kindness and expanded on the concept in 2012 with the #DaretobeKind campaign, which gathered momentum and is now #DaretobeKind a Global Movement.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section id="decade1970" class="page decade decade1970" data-nav="Your Story">
        <div class="container">
          <div class="inner row">
            <div class="col s12 m6">
              <img style="width:100%;" src="{{ base_url() }}/assets/img/PNG/Banner1.png" alt="">
            </div>
            <div class="fact bottom-right col s12 m6">
              <h3>We All Have a Story</h3>
              <p>The movement’s website has been created with the belief that we all have a story. And it is only through sharing our stories that we heal ourselves and help others. This platform is a safe space where we unsilence ourselves by sharing the good, the bad, the ugly. Because it is through this sharing of stories we become aware: <br>(a) we are not alone, <br>(b) we are capable, and  <br>(c) we are the solution.</p>
            </div>
          </div>
        </div>
      </section>
      <hr>
      <section class="values">
        <h2 class="section-heading">Now is the time for Kindness to grow more Kindness.</h2>
        <ol class="grid-list">
          <li>
            <h3>The vision is a SAFER world.</h3>
          </li>
          <li>
            <h3>The method is KINDNESS.</h3>
          </li>
          <li>
            <h3>The vehicle is YOU!</h3>
          </li>
        </ol>
      </section>
    </div>
  </div>
</div>
{% endblock %}
