<!--FOOTER-->
<footer class="form-footer">
   <div class="footer-wrapper container">
     <div class="row">
         <div class="footer-links-wrapper col s12 m4 l4">
           <div class="right">
             <ul>
               <li><a class="grey-text text-lighten-3" href="{{ path_for('mission') }}">Our Mission</a></li>
               <li><a class="grey-text text-lighten-3" href="{{ path_for('contact') }}">Contact Us</a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="divider container"></div>
   <div class="footer-copyright center">
     <div class="container">
     Copyright © 2018 <a class="gab-global" href="https://www.gabriella.global/" target="_blank" rel="noopener">Gabriella van Rij</a> and DareToBe<img src="{{ base_url() }}/assets/img/PNG/K_logo_white.png" alt="K logo"/>ind®. All Rights Reserved.
     <div class="copyright-links">
       <a class="grey-text text-lighten-4" href="{{ path_for('contribution') }}">Terms of Use</a>
       <a class="grey-text text-lighten-4" href="{{ path_for('privacy') }}">Privacy</a>
       <a class="grey-text text-lighten-4" href="{{ path_for('credits') }}">Credits</a>
     </div>
     </div>
   </div>
 </footer>
